[submodule]
    ignore = all
[submodule "allaboutapps/go-starter"]
	path = allaboutapps/go-starter
	url = https://github.com/allaboutapps/go-starter.git
[submodule "eclipse-vertx/vert.x"]
	path = eclipse-vertx/vert.x
	url = https://github.com/eclipse-vertx/vert.x.git
[submodule "etcd-io/etcd"]
	path = etcd-io/etcd
	url = https://github.com/etcd-io/etcd.git
[submodule "exercism/go"]
	path = exercism/go
	url = https://github.com/exercism/go.git
[submodule "firebase/quickstart-js"]
	path = firebase/quickstart-js
	url = https://github.com/firebase/quickstart-js.git
[submodule "firebase/firebase-android-sdk"]
	path = firebase/firebase-android-sdk
	url = https://github.com/firebase/firebase-android-sdk.git
[submodule "gin-gonic/gin"]
	path = gin-gonic/gin
	url = https://github.com/gin-gonic/gin.git
[submodule "gofiber/fiber"]
	path = gofiber/fiber
	url = https://github.com/gofiber/fiber.git
[submodule "go-gorm/gorm"]
	path = go-gorm/gorm
	url = https://github.com/go-gorm/gorm.git
[submodule "goinaction/code"]
	path = goinaction/code
	url = https://github.com/goinaction/code.git
[submodule "go-kit/kit"]
	path = go-kit/kit
	url = https://github.com/go-kit/kit.git
[submodule "golang/example"]
	path = golang/example
	url = https://github.com/golang/example.git
[submodule "golang/net"]
	path = golang/net
	url = https://github.com/golang/net.git
[submodule "golang/protobuf"]
	path = golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "xtaci/gonet"]
	path = xtaci/gonet
	url = https://github.com/xtaci/gonet.git
[submodule "xiaonanln/goworld"]
	path = xiaonanln/goworld
	url = https://github.com/xiaonanln/goworld.git
[submodule "google/go-github"]
	path = google/go-github
	url = https://github.com/google/go-github.git
[submodule "Grasscutters/Grasscutter"]
	path = Grasscutters/Grasscutter
	url = https://github.com/Grasscutters/Grasscutter.git
[submodule "gradle/gradle"]
	path = gradle/gradle
	url = https://github.com/gradle/gradle.git
[submodule "hashicorp/consul"]
	path = hashicorp/consul
	url = https://github.com/hashicorp/consul.git
[submodule "hashicorp/packer"]
	path = hashicorp/packer
	url = https://github.com/hashicorp/packer.git
[submodule "junit-team/junit5"]
	path = junit-team/junit5
	url = https://github.com/junit-team/junit5.git
[submodule "junit-team/junit5-samples"]
	path = junit-team/junit5-samples
	url = https://github.com/junit-team/junit5-samples.git
[submodule "labstack/echo"]
	path = labstack/echo
	url = https://github.com/labstack/echo.git
[submodule "lonng/nano"]
	path = lonng/nano
	url = https://github.com/lonng/nano.git
[submodule "micro/micro"]
	path = micro/micro
	url = https://github.com/micro/micro.git
[submodule "moby/moby"]
	path = moby/moby
	url = https://github.com/moby/moby.git
[submodule "name5566/leaf"]
	path = name5566/leaf
	url = https://github.com/name5566/leaf.git
[submodule "nats-io/nats.go"]
	path = nats-io/nats.go
	url = https://github.com/nats-io/nats.go.git
[submodule "prometheus/prometheus"]
	path = prometheus/prometheus
	url = https://github.com/prometheus/prometheus.git
[submodule "protocolbuffers/protobuf-go"]
	path = protocolbuffers/protobuf-go
	url = https://github.com/protocolbuffers/protobuf-go.git
[submodule "pseudomuto/protoc-gen-doc"]
	path = pseudomuto/protoc-gen-doc
	url = https://github.com/pseudomuto/protoc-gen-doc.git
[submodule "qmuntal/stateless"]
	path = qmuntal/stateless
	url = https://github.com/qmuntal/stateless.git
[submodule "sirupsen/logrus"]
	path = sirupsen/logrus
	url = https://github.com/sirupsen/logrus.git
[submodule "spf13/viper"]
	path = spf13/viper
	url = https://github.com/spf13/viper.git
[submodule "spring-projects/spring-boot"]
	path = spring-projects/spring-boot
	url = https://github.com/spring-projects/spring-boot.git
[submodule "spring-projects/spring-framework"]
	path = spring-projects/spring-framework
	url = https://github.com/spring-projects/spring-framework.git
[submodule "sjwhitworth/golearn"]
	path = sjwhitworth/golearn
	url = https://github.com/sjwhitworth/golearn.git
[submodule "eclipse-vertx/vertx-json-schema"]
	path = eclipse-vertx/vertx-json-schema
	url = https://github.com/eclipse-vertx/vertx-json-schema.git
[submodule "google/guava"]
	path = google/guava
	url = https://github.com/google/guava.git
[submodule "unicode-org/icu"]
	path = unicode-org/icu
	url = https://github.com/unicode-org/icu.git
[submodule "ReactiveX/RxJava"]
	path = ReactiveX/RxJava
	url = https://github.com/ReactiveX/RxJava.git
[submodule "stateless4j/stateless4j"]
	path = stateless4j/stateless4j
	url = https://github.com/stateless4j/stateless4j.git
[submodule "spring-projects/spring-statemachine"]
	path = spring-projects/spring-statemachine
	url = https://github.com/spring-projects/spring-statemachine.git
[submodule "stateless4j/stateless4j-sample"]
	path = stateless4j/stateless4j-sample
	url = https://github.com/stateless4j/stateless4j-sample.git
[submodule "dotnet-state-machine/stateless"]
	path = dotnet-state-machine/stateless
	url = https://github.com/dotnet-state-machine/stateless.git
[submodule "eclipse-vertx/vertx-codegen"]
	path = eclipse-vertx/vertx-codegen
	url = https://github.com/eclipse-vertx/vertx-codegen.git
[submodule "eclipse-vertx/vertx-junit5"]
	path = eclipse-vertx/vertx-junit5
	url = https://github.com/eclipse-vertx/vertx-junit5.git
[submodule "eclipse-vertx/vertx-service-resolver"]
	path = eclipse-vertx/vertx-service-resolver
	url = https://github.com/eclipse-vertx/vertx-service-resolver.git
[submodule "eclipse-vertx/vertx-launcher"]
	path = eclipse-vertx/vertx-launcher
	url = https://github.com/eclipse-vertx/vertx-launcher.git
[submodule "eclipse-vertx/vertx-virtual-threads"]
	path = eclipse-vertx/vertx-virtual-threads
	url = https://github.com/eclipse-vertx/vertx-virtual-threads.git
[submodule "vert-x3/vertx-examples"]
	path = vert-x3/vertx-examples
	url = https://github.com/vert-x3/vertx-examples.git
[submodule "spring-projects/spring-petclinic"]
	path = spring-projects/spring-petclinic
	url = https://github.com/spring-projects/spring-petclinic.git
[submodule "apache/logging-log4j-samples"]
	path = apache/logging-log4j-samples
	url = https://github.com/apache/logging-log4j-samples.git
[submodule "apache/logging-log4j2"]
	path = apache/logging-log4j2
	url = https://github.com/apache/logging-log4j2.git
[submodule "vert-x3/vertx-gradle-starter"]
	path = vert-x3/vertx-gradle-starter
	url = https://github.com/vert-x3/vertx-gradle-starter.git
[submodule "vert-x3/vertx-maven-starter"]
	path = vert-x3/vertx-maven-starter
	url = https://github.com/vert-x3/vertx-maven-starter.git
[submodule "AgoraIO/Agora-Chat-API-Examples"]
	path = AgoraIO/Agora-Chat-API-Examples
	url = https://github.com/AgoraIO/Agora-Chat-API-Examples
[submodule "AgoraIO/Tools"]
	path = AgoraIO/Tools
	url = https://github.com/AgoraIO/Tools.git
